*{
  font: size 0.5em;;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
    box-sizing: border-box;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;
  }
  button {
    margin: 5px;
    padding: 8px 12px;
    color:white;
    background-color: rgba(69, 69, 217, 0.788);
    border-radius:2px;
    border: none;
    padding: 10px 20px 10px 13px;
  }